

div.generalInfo{
    margin-top: 0;
    background-image:url("https://www.offerpad.com/landing-bg-1920-12c7a5f787a31074da4e52159629ee15.jpg");
    height: 425px;
    background-position-x:62% ;
    background-position-y: 50%;
    align-items: flex-end;
}
.sellHome{
    position: relative;
    width: 100%;
    z-index: 2;
}
#imageInfo{
    color: white;
    padding-top: 125px;
    padding-left: 270px;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
}

#bold{
    font-weight: 900;
}

.bodyWrapper{
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
}
.howWorks{
    margin-top: 15px;
}
.sellUs{
    margin-bottom: 10px;
    margin-top:25px;
}
#number{
     /* width: 120px;
    height: 90; */
    width: 55px;
    height: 50px;
    /* background: blue; */
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: white;
    border-radius: 54px;
    font-size: 35px;
    font-weight: 900;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-bottom: 5px;
    align-items: center;
    /* when placing a div within another div, display inline block is needed for it to be centered */
    display: inherit;
    /* vertical-align: text-top;*/
    
}

h1,h2,h3,h4,p{
    font-family: "Raleway", sans-serif;
}
.numberContainer{
    /* text-align: center; */
    /* padding-left: 17rem; */
    display: inline-block;
    text-align: center;
    width:24.79%;
    padding-top:50px;
    box-shadow: 0 5px 8px 7px rgb(0 0 0 / 20%);
    border-radius: 25px;
    /* border: grey; */
}
#weight{
    font-weight: 900;
}


.description{
    height: 400px;
    /* background-color: blue; */
    width: 70%;
    display: inline-block;
    /* padding-top: 20px; */
    /* margin-top: 40px; */
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: white;
}
.picture{
    height: 400px;
    width: 30%;
    display: inline-block;
    z-index: 2;
}
.easyCash{
    margin-top:55px;
    text-align: center;
    margin-bottom:30px;
}
.textDescription{
    display: table;
    /* padding-left: 30px; */
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    /* padding-top: 30px; */
    padding: 110px;
    font-size: 24px;
}


.descriptWrapper{
    display: flex;
    /* margin-left: 85px; */
}

#form{
    margin-top: 3.5rem;
    margin-left: 23.5rem;
}

#center{
    text-align: center;
}
#margins{
    margin-right: 15px;
}
#labels{
    font-weight: 900;
    font-family: "Raleway", sans-serif;
}
#form-container-row1{
margin-bottom: 15px;
}
.link{
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 20%);
    height: 60px;
    background-color: #7f5a83;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    color: white;
    width: 150px;
    font-size: 20px;
    margin-left: 80%;
    margin-top: 3%;

}

.formpage{
    /* margin-left: 15px; */
}